$primary-color: #30a7d7;
$primary-color--dark: #2084ac;
$primary-color--light: #6dd5fe;

$secondary-color: #e4e4e4;
$secondary-color--dark: #7b7b7b;
$secondary-color--light: #f4f4f4;

// Types
$normal-type-color: #a8a878;
$fire-type-color: #f08030;
$water-type-color: #6890f0;
$grass-type-color: #78c850;
$electric-type-color: #f8d030;
$ice-type-color: #98d8d8;
$fighting-type-color: #c03028;
$poison-type-color: #a040a0;
$ground-type-color: #e0c068;
$flying-type-color: #a890f0;
$psychic-type-color: #f85888;
$bug-type-color: #a8b820;
$rock-type-color: #b8a038;
$ghost-type-color: #705898;
$dark-type-color: #705848;
$dragon-type-color: #7038f8;
$steel-type-color: #b8b8d0;
$fairy-type-color: #f0b6bc;
