@use "styles/colors";
@use "styles/spacing";
@use "styles/fonts";

.pagination {
  padding: spacing.$s-2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: spacing.$s-4;

  &__pages-text {
    font-weight: bold;
    color: colors.$primary-color--dark;
    width: 60px;
  }
}
