@use "styles/colors";
@use "styles/spacing";
@use "styles/fonts";

.pokemon-detail {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__type-list {
    padding: 0;
    margin: 0;
    display: flex;
    gap: spacing.$s-1;
  }
}

.back-button {
  align-self: start;
  margin: spacing.$s-2;
}
