@use "styles/colors";
@use "styles/spacing";
@use "styles/fonts";

.button {
  cursor: pointer;
  padding: spacing.$s-1;
  border-radius: spacing.$s-1;
  border: 0;
  font-style: fonts.$font-stack;
  font-weight: bold;
  width: 100px;
  background-color: colors.$primary-color;
  color: white;
  box-shadow: 4px 4px 1px rgba(colors.$primary-color--dark, 0.5);

  &--disabled {
    cursor: default;
    opacity: 0.5;
  }

  &:hover {
    background-color: colors.$primary-color--dark;
  }

  &--disabled:hover {
    background-color: colors.$primary-color;
  }
}
