@use "styles/colors";
@use "styles/spacing";

.sprite {
  background-color: colors.$secondary-color--light;
  border-radius: spacing.$s-1;
  padding: spacing.$s-1;
  margin: spacing.$s-2;

  &--pending {
    width: 96px;
    height: 96px;
    display: inline-block;
  }
}
