@use "styles/colors";
@use "styles/spacing";

.card {
  list-style: none;

  &__link {
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: spacing.$s-2;
    background-color: white;
    border-radius: spacing.$s-1;
    border: 1px solid colors.$primary-color;
    width: 120px;
    text-align: center;
    color: colors.$primary-color;
    margin: 0;

    &:hover,
    &:visited,
    &:active {
      color: colors.$primary-color--dark;
    }
  }

  &__id {
    color: colors.$secondary-color--dark;
  }
}
