@use "./styles/colors";
@use "./styles/spacing";

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: colors.$secondary-color;
  padding: spacing.$s-2;
  border-radius: spacing.$s-1;
  margin: spacing.$s-2;
  margin-bottom: spacing.$s-1;

  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: spacing.$s-2;
  }

  &__list-item {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    font-weight: bold;
    color: colors.$primary-color;

    &--active,
    &--pending,
    &:hover,
    &:active {
      color: colors.$primary-color--dark;
    }
  }
}

.page-wrapper {
  background-color: colors.$secondary-color;
  padding: spacing.$s-2;
  border-radius: spacing.$s-1;
  margin: spacing.$s-2;
  margin-top: spacing.$s-1;
  flex-grow: 1;
}

.title {
  font-size: spacing.$s-3;
  color: colors.$primary-color--dark;
  text-align: center;
  margin: spacing.$s-2;
}
