@import-normalize;

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Light-webfont.woff) format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Bold-webfont.woff) format("woff");
  font-style: normal;
  font-weight: bold;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
